{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-12" >
                <div class="card-body" id="card-body">
                    <p>Api To Go Here</p>
                </div>
            </div>
        </div>
    </div>
    <br>
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
        <div class="card mb-4" >
            <div class="card-body" id="card-body">
                <div class="image-container" >
                    {% if "placeholder" in post.feature_image.url %}
                    <img class="card-img-top"
                        src="https://miro.medium.com/max/1080/1*u_24K65JdndkKbC2ZEGvNA.png">
                    {% else %}
                    <img class="card-img-top" src=" {{ post.feature_image.url }}">
                    {% endif %}
                    <div class= "row">
                        <!--<a id="object-title" href="{% url 'article-detail' post.pk %}" class="post-link">-->
                        <h3  class="card-title card-body " id="card-body">{{ post.title }}</h3>
                        </a>
                        <p>{{ post.body | slice:"250" | safe }}</p>
                        
                        <div class="image-flash">
                            <hr>
                             <P class ="author">Author: {{ post.author }}</P>  
                             <p class="card-text text-muted h6 ml-3">{{ post.post_date }}</p>
                             <br>
                             <a href="{% url 'category' post.category  %}"><p class="card-text text-muted h6 ml-3">Category: {{ post.category  }}</p></a>
                             <!--<a href="{% url 'update_post' post.pk %}"><small> - (Edit Post)</small></a>
                             <a href="{% url 'delete_post' post.pk %}"><small> - (Delete Post)</small></a>-->
                             <br>
                             <p><i class="far fa-thumbs-up ml-5"></i>{{ post.number_of_likes }}</p>
                        </div>
                     </div>
                
                <a href="{% url 'article-detail' post.pk %}" class="btn btn-secondary mt-5">View Post!</a>
            </div>
        </div> 
    </div>
</div>
           {% if forloop.counter|divisibleby:3 %}
</div>       
<div class="row"> 

        {% endif %}
        {% endfor %}  
</div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>       

{% endblock %}